.req-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  .req-user-one {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60rem;
    border-radius: 0.6rem;
    padding: 1rem;
    box-shadow: 0 0 10px #fff;
    border: 2px solid #fff;
    h1 {
      color: #000;
    }
    p {
      font-size: 1.2rem;
    }
    .buttons {
      button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.3rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
        background-color: transparent;
        border: 2px solid #000;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}
.req-user1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .req-user {
    .req-user-one {
      width: 20rem;
    }
  }
}
@media (max-width: 400px) {
  .req-user {
    .req-user-one {
      // width: 20rem;
      padding: 0.2rem;
    }
  }
}
