.chat {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .messages {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    padding: 5rem;
    .message .incoming {
      display: flex;
      .text {
        font-size: 1.2rem;
        &:nth-child(1) {
          position: absolute;
          left: 12%;
        }
        &:nth-child(2) {
          position: absolute;
          right: 12%;
        }
      }
    }
    // .outgoing {
    //   position: absolute;
    //   right: 0;
    // }
    // .incoming {
    //   position: absolute;
    //   left: 0;
    // }
  }

  .input-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: fixed;
    bottom: 0%;
    width: 95%;

    input {
      flex: 1;
      padding: 0.5rem;
      margin-right: 1rem;
      border-radius: 1rem;
      border: none;
      box-shadow: 0 0 2px #888;
    }

    button {
      background-color: #333;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #666;
      }
    }
  }
}
