.req-create {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .box-create {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    > legend {
      font-size: 1rem;
      font-weight: bolder;
    }
    > input,
    textarea {
      padding: 0.5rem;
      width: 15rem;
      outline: none;
      border: 2px solid hsl(319, 19%, 77%);
      border-radius: 0.5rem;
      font-size: 1.1rem;
    }
    > select {
      height: 2rem;
      width: 100%;
      border: 2px solid hsl(319, 19%, 77%);
      border-radius: 0.5rem;
      font-size: 1.1rem;
    }
    button {
      margin-top: 1rem;
      cursor: pointer;
      text-align: center;
      font-size: 0.9rem;
      width: 100%;
      outline: none;
      border: 2px solid hsl(319, 19%, 77%);
      padding: 0.5rem 1.4rem;
      border-radius: 0.8rem;
      transition: all 0.2s ease-in-out;
    }
  }
}
