.homeContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .leftHome {
    > img {
      width: 30rem;
    }
  }
  .rightHome {
    .content {
      font-size: 2rem;
      text-transform: capitalize;
    }
    .linkSec {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      gap: 1rem;
      .Hbtn {
        text-transform: uppercase;
        cursor: pointer;
        color: black;
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        outline: none;
        border: 3px solid black;
        padding: 0.5rem 1.4rem;
        border-radius: 0.8rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: crimson;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 834px) {
  .homeContainer {
    flex-direction: column;
    .leftHome {
      > img {
        width: 18rem;
      }
    }
    .rightHome {
      .content {
        font-size: 1.3rem;
        text-align: center;
      }
      .instruction {
        font-size: 0.9rem;
        text-align: center;
      }
      .linkSec {
        justify-content: center;
        .Hbtn {
          width: 35%;
          padding: 0.5rem 0.8rem;
        }
      }
    }
  }
}
