.containerRegister {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > h1 {
    text-decoration: underline;
  }
}

.boxR {
  min-height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  > legend {
    font-size: 1rem;
    font-weight: bolder;
  }
  > input {
    padding: 0.5rem;
    width: 15rem;
    outline: none;
    border: 2px solid hsl(319, 19%, 77%);
    border-radius: 0.5rem;
    font-size: 1.1rem;
  }
  > select {
    height: 2rem;
    width: 100%;
    border: 2px solid hsl(319, 19%, 77%);
    border-radius: 0.5rem;
    font-size: 1.1rem;
  }
  button {
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    outline: none;
    border: 2px solid hsl(319, 19%, 77%);
    padding: 0.5rem 1.4rem;
    border-radius: 0.8rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: crimson;
      color: white;
    }
  }
}
.aBtn {
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
  &:hover {
    border-radius: 3px;
    background-color: crimson;
    color: #fff;
  }
}
