.containerW {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  img {
    height: 20rem;
  }
  span {
    color: cyan;
  }
}
@media (max-width: 815px) {
  .notVisi {
    display: none;
  }
  .containerW {
    img {
      height: 10rem;
    }
    h1,
    h3 {
      font-size: 1rem;
    }
  }
}
