body,
html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

  color-scheme: light dark;
  color: #000;
  background-image: conic-gradient(
    at 125% 50%,
    #b78cf7,
    #ff7c94,
    #ffcf0d,
    #ff7c94,
    #b78cf7
  );
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
a,
li {
  text-decoration: none;
}
html::-webkit-scrollbar {
  display: none;
}
.card-comment {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .card-comment-h {
    width: 27rem;
    box-shadow: 0 0 10px #fff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.8rem;
    > h3 {
      text-decoration: underline;
      font-size: 1.2rem;
    }
    > p {
      font-size: 1.4rem;
    }
  }
}
